.reg-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    background-color: rgb(199, 236, 248);
    padding: 20px;
    width: 100%;
    max-width: 60vw;
    align-items: center;
    justify-content: center;
}
.email{
     width: 100%;
    max-width: 400px;
    border: 1px solid blue;
    border-radius: 5px;
    height: 25px;
    background-color: white;
    font-size: 20px;
}
.password{
    width: 100%;
    max-width: 400px;
    border: 1px solid blue;
    border-radius: 5px;
    height: 25px;
    background-color: white;
    font-size: 20px;
}
.submit{
    background-color: rgb(16, 90, 120);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}