.navbar{
     border: 2px solid none;
    height: 100px;
    width: 100%;
   background-color: rgb(144, 187, 203);
   border-radius: 8px;
   display: flex;
   align-items: center;
    justify-content: space-between;
}
.home-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* border: 2px solid none;
    height: 100%;
    width: 100%;
   background-color: rgb(144, 187, 203);
   border-radius: 8px; */
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(19, 172, 232);
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px;
    color: white;
    border: 2px solid black;
    
}
.login-register{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
}
.login,.register,.logout{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: rgb(19, 172, 232);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
}