.products-list {
    margin: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;

}
.book-item{
    padding: 20px;
    height: auto;
    width: 200px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 20px;
}

.book-image{
    height: 150px;
    width: 100%;
    object-fit: cover;}

    .see-more{
        color: rgb(30, 107, 138);
        cursor: pointer;
    }

    .btn{
        background-color:rgb(19, 172, 232) ;
        border-radius: 5px;
       
    }